<footer>
   <ul>
    <li>
        <p class="contact-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
        <path fill="#EA4335" d="M3 5.5V18h3V8l6 4.5L18 8v10h3V5.5L12 12z"/>
        </svg>
        <strong>product@Shopit.in</strong>
        </p>
        
    </li>
    <li>
        <p class="contact-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
            <path fill="black" d="M18.9 2H22l-6.8 7.8L23 22h-6.1l-4.8-6.3L6.5 22H3.4l7.2-8.2L1 2h6.2l4.3 5.7z"/>
            
            </svg>
            <strong>ShopItMartTwitter</strong>
        </p>
        
    </li>
    <li>
        <p class="contact-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
            <path fill="#1877F2" d="M24 12a12 12 0 1 0-13.88 11.85v-8.39H7.08V12h3.04V9.36c0-3 1.8-4.66 4.54-4.66c1.31 0 2.68.23 2.68.23v2.95h-1.51c-1.49 0-1.95.92-1.95 1.87V12h3.33l-.53 3.46h-2.8v8.39A12 12 0 0 0 24 12"/>
            </svg>
            <strong>ShopitMart</strong>
        </p>
    </li>
   </ul>

   <div class="about-us">
    <ul>
        <li><strong>About us</strong></li>
        <li><strong>Careers</strong></li>
        <li><strong>Offers</strong></li>
        <li><strong>Timings</strong></li>
    </ul>
   </div>
</footer>